Repository AnakAmira/amira-wellness-tiplb3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ios-team, @android-team, @service-team, @devops-team, @documentation-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/fixtures/achievements.py
  src/backend/tests/fixtures/achievements.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/fixtures/database.py
  src/backend/tests/fixtures/database.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/fixtures/emotions.py
  src/backend/tests/fixtures/emotions.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/fixtures/journals.py
  src/backend/tests/fixtures/journals.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/fixtures/tools.py
  src/backend/tests/fixtures/tools.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/fixtures/users.py
  src/backend/tests/fixtures/users.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/integration/__init__.py
  src/backend/tests/integration/__init__.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/integration/test_api_auth.py
  src/backend/tests/integration/test_api_auth.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/integration/test_api_emotions.py
  src/backend/tests/integration/test_api_emotions.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/integration/test_api_journals.py
  src/backend/tests/integration/test_api_journals.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/integration/test_api_notifications.py
  src/backend/tests/integration/test_api_notifications.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/integration/test_api_progress.py
  src/backend/tests/integration/test_api_progress.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/integration/test_api_tools.py
  src/backend/tests/integration/test_api_tools.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/integration/test_api_users.py
  src/backend/tests/integration/test_api_users.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/integration/test_background_tasks.py
  src/backend/tests/integration/test_background_tasks.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/integration/test_database.py
  src/backend/tests/integration/test_database.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/integration/test_storage.py
  src/backend/tests/integration/test_storage.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/unit/__init__.py
  src/backend/tests/unit/__init__.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/unit/test_auth.py
  src/backend/tests/unit/test_auth.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/unit/test_emotions.py
  src/backend/tests/unit/test_emotions.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/unit/test_encryption.py
  src/backend/tests/unit/test_encryption.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/unit/test_journals.py
  src/backend/tests/unit/test_journals.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/unit/test_notifications.py
  src/backend/tests/unit/test_notifications.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/unit/test_progress.py
  src/backend/tests/unit/test_progress.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/unit/test_tools.py
  src/backend/tests/unit/test_tools.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/tests/unit/test_users.py
  src/backend/tests/unit/test_users.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/ios/README.md
  src/ios/README.md
Owners: @documentation-team

Add public-samples/amira-wellness-tiplb3/src/ios/AmiraWellness/.gitignore
  src/ios/AmiraWellness/.gitignore
Owners: @ios-team

Add public-samples/amira-wellness-tiplb3/src/ios/AmiraWellness/.swiftlint.yml
  src/ios/AmiraWellness/.swiftlint.yml
Owners: @ios-team

Add public-samples/amira-wellness-tiplb3/src/ios/AmiraWellness/AmiraWellness.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  src/ios/AmiraWellness/AmiraWellness.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Owners: @ios-team

Add public-samples/amira-wellness-tiplb3/src/ios/AmiraWellness/AmiraWellness/AmiraWellnessApp.swift
  src/ios/AmiraWellness/AmiraWellness/AmiraWellnessApp.swift
Owners: @ios-team

Add public-samples/amira-wellness-tiplb3/src/ios/AmiraWellness/AmiraWellness/Info.plist
  src/ios/AmiraWellness/AmiraWellness/Info.plist
Owners: @ios-team

Add public-samples/amira-wellness-tiplb3/src/ios/AmiraWellness/AmiraWellness/Config/AppConfig.swift
  src/ios/AmiraWellness/AmiraWellness/Config/AppConfig.swift
Owners: @ios-team

Add public-samples/amira-wellness-tiplb3/src/ios/AmiraWellness/AmiraWellness/Config/EnvironmentConfig.swift
  src/ios/AmiraWellness/AmiraWellness/Config/EnvironmentConfig.swift
Owners: @ios-team

Add public-samples/amira-wellness-tiplb3/src/ios/AmiraWellness/AmiraWellness/Core/Constants/ApiConstants.swift
  src/ios/AmiraWellness/AmiraWellness/Core/Constants/ApiConstants.swift
Owners: @ios-team

Add public-samples/amira-wellness-tiplb3/src/ios/AmiraWellness/AmiraWellness/Core/Constants/AppConstants.swift
  src/ios/AmiraWellness/AmiraWellness/Core/Constants/AppConstants.swift
Owners: @ios-team

Add public-samples/amira-wellness-tiplb3/src/ios/AmiraWellness/AmiraWellness/Core/Constants/ColorConstants.swift
  src/ios/AmiraWellness/AmiraWellness/Core/Constants/ColorConstants.swift
Owners: @ios-team

Add public-samples/amira-wellness-tiplb3/src/ios/AmiraWellness/AmiraWellness/Core/Constants/NotificationConstants.swift
  src/ios/AmiraWellness/AmiraWellness/Core/Constants/NotificationConstants.swift
Owners: @ios-team

Add public-samples/amira-wellness-tiplb3/src/ios/AmiraWellness/AmiraWellness/Core/DI/DIContainer.swift
  src/ios/AmiraWellness/AmiraWellness/Core/DI/DIContainer.swift
Owners: @ios-team

Add public-samples/amira-wellness-tiplb3/src/ios/AmiraWellness/AmiraWellness/Core/DI/ServiceFactory.swift
  src/ios/AmiraWellness/AmiraWellness/Core/DI/ServiceFactory.swift
Owners: @ios-team

.github/CODEOWNERS:

# Each line contains a file pattern followed by one or more owners.
# These owners will be automatically requested for review when someone opens a pull request.
# For more information, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Project leads have oversight over all code changes
* @project-leads

# Backend team is responsible for all backend code
src/backend/ @backend-team

# Both security and backend teams must review encryption-related code
src/backend/app/services/encryption.py @security-team @backend-team

# iOS team is responsible for all iOS code
src/ios/ @ios-team

# Android team is responsible for all Android code
src/android/ @android-team

# Service team reviews all service-related code across platforms
src/*/app/services/ @service-team

# DevOps team is responsible for infrastructure code
infrastructure/ @devops-team

# DevOps team is responsible for CI/CD workflows
.github/workflows/ @devops-team

# Documentation team is responsible for all documentation
docs/ @documentation-team

# Documentation team reviews all markdown files
*.md @documentation-team
