Repository AnakAmira/amira-wellness-tiplb3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ios-team, @android-team, @service-team, @devops-team, @documentation-team

.github/CODEOWNERS:

# Each line contains a file pattern followed by one or more owners.
# These owners will be automatically requested for review when someone opens a pull request.
# For more information, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Project leads have oversight over all code changes
* @project-leads

# Backend team is responsible for all backend code
src/backend/ @backend-team

# Both security and backend teams must review encryption-related code
src/backend/app/services/encryption.py @security-team @backend-team

# iOS team is responsible for all iOS code
src/ios/ @ios-team

# Android team is responsible for all Android code
src/android/ @android-team

# Service team reviews all service-related code across platforms
src/*/app/services/ @service-team

# DevOps team is responsible for infrastructure code
infrastructure/ @devops-team

# DevOps team is responsible for CI/CD workflows
.github/workflows/ @devops-team

# Documentation team is responsible for all documentation
docs/ @documentation-team

# Documentation team reviews all markdown files
*.md @documentation-team

Add public-samples/amira-wellness-tiplb3/src/android/app/src/test/kotlin/com/amirawellness/domain/usecases/journal/CreateJournalUseCaseTest.kt
  src/android/app/src/test/kotlin/com/amirawellness/domain/usecases/journal/CreateJournalUseCaseTest.kt
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/src/test/kotlin/com/amirawellness/domain/usecases/journal/GetJournalsUseCaseTest.kt
  src/android/app/src/test/kotlin/com/amirawellness/domain/usecases/journal/GetJournalsUseCaseTest.kt
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/src/test/kotlin/com/amirawellness/domain/usecases/progress/GetStreakInfoUseCaseTest.kt
  src/android/app/src/test/kotlin/com/amirawellness/domain/usecases/progress/GetStreakInfoUseCaseTest.kt
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/src/test/kotlin/com/amirawellness/domain/usecases/tool/GetRecommendedToolsUseCaseTest.kt
  src/android/app/src/test/kotlin/com/amirawellness/domain/usecases/tool/GetRecommendedToolsUseCaseTest.kt
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/src/test/kotlin/com/amirawellness/domain/usecases/tool/GetToolsUseCaseTest.kt
  src/android/app/src/test/kotlin/com/amirawellness/domain/usecases/tool/GetToolsUseCaseTest.kt
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/src/test/kotlin/com/amirawellness/services/audio/AudioRecordingServiceTest.kt
  src/android/app/src/test/kotlin/com/amirawellness/services/audio/AudioRecordingServiceTest.kt
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/src/test/kotlin/com/amirawellness/services/encryption/EncryptionManagerTest.kt
  src/android/app/src/test/kotlin/com/amirawellness/services/encryption/EncryptionManagerTest.kt
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/src/test/kotlin/com/amirawellness/ui/screens/auth/LoginViewModelTest.kt
  src/android/app/src/test/kotlin/com/amirawellness/ui/screens/auth/LoginViewModelTest.kt
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/src/test/kotlin/com/amirawellness/ui/screens/emotions/EmotionalCheckinViewModelTest.kt
  src/android/app/src/test/kotlin/com/amirawellness/ui/screens/emotions/EmotionalCheckinViewModelTest.kt
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/src/test/kotlin/com/amirawellness/ui/screens/journal/RecordJournalViewModelTest.kt
  src/android/app/src/test/kotlin/com/amirawellness/ui/screens/journal/RecordJournalViewModelTest.kt
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/src/test/kotlin/com/amirawellness/ui/screens/progress/ProgressDashboardViewModelTest.kt
  src/android/app/src/test/kotlin/com/amirawellness/ui/screens/progress/ProgressDashboardViewModelTest.kt
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/src/test/kotlin/com/amirawellness/ui/screens/tools/ToolLibraryViewModelTest.kt
  src/android/app/src/test/kotlin/com/amirawellness/ui/screens/tools/ToolLibraryViewModelTest.kt
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/gradle/wrapper/gradle-wrapper.properties
  src/android/gradle/wrapper/gradle-wrapper.properties
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/.flake8
  src/backend/.flake8
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/README.md
  src/backend/README.md
Owners: @documentation-team

Add public-samples/amira-wellness-tiplb3/src/backend/alembic.ini
  src/backend/alembic.ini
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/conftest.py
  src/backend/conftest.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/gunicorn.conf.py
  src/backend/gunicorn.conf.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/logging.conf
  src/backend/logging.conf
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/main.py
  src/backend/main.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/mypy.ini
  src/backend/mypy.ini
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/pytest.ini
  src/backend/pytest.ini
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/setup.py
  src/backend/setup.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/supervisord.conf
  src/backend/supervisord.conf
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/app/__init__.py
  src/backend/app/__init__.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/app/api/__init__.py
  src/backend/app/api/__init__.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/app/api/deps.py
  src/backend/app/api/deps.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/app/api/errors.py
  src/backend/app/api/errors.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/app/api/routes/__init__.py
  src/backend/app/api/routes/__init__.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/app/api/routes/auth.py
  src/backend/app/api/routes/auth.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/app/api/routes/emotions.py
  src/backend/app/api/routes/emotions.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/app/api/routes/health.py
  src/backend/app/api/routes/health.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/app/api/routes/journals.py
  src/backend/app/api/routes/journals.py
Owners: @backend-team

Add public-samples/amira-wellness-tiplb3/src/backend/app/api/routes/notifications.py
  src/backend/app/api/routes/notifications.py
Owners: @backend-team
