Repository AnakAmira/amira-wellness-tiplb3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ios-team, @android-team, @service-team, @devops-team, @documentation-team

.github/CODEOWNERS:

# Each line contains a file pattern followed by one or more owners.
# These owners will be automatically requested for review when someone opens a pull request.
# For more information, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Project leads have oversight over all code changes
* @project-leads

# Backend team is responsible for all backend code
src/backend/ @backend-team

# Both security and backend teams must review encryption-related code
src/backend/app/services/encryption.py @security-team @backend-team

# iOS team is responsible for all iOS code
src/ios/ @ios-team

# Android team is responsible for all Android code
src/android/ @android-team

# Service team reviews all service-related code across platforms
src/*/app/services/ @service-team

# DevOps team is responsible for infrastructure code
infrastructure/ @devops-team

# DevOps team is responsible for CI/CD workflows
.github/workflows/ @devops-team

# Documentation team is responsible for all documentation
docs/ @documentation-team

# Documentation team reviews all markdown files
*.md @documentation-team

Add public-samples/amira-wellness-tiplb3/infrastructure/kubernetes/backend-deployment.yaml
  infrastructure/kubernetes/backend-deployment.yaml
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/kubernetes/backend-ingress.yaml
  infrastructure/kubernetes/backend-ingress.yaml
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/kubernetes/backend-secret.yaml
  infrastructure/kubernetes/backend-secret.yaml
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/kubernetes/backend-service.yaml
  infrastructure/kubernetes/backend-service.yaml
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/kubernetes/monitoring/grafana.yaml
  infrastructure/kubernetes/monitoring/grafana.yaml
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/kubernetes/monitoring/prometheus.yaml
  infrastructure/kubernetes/monitoring/prometheus.yaml
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/terraform/modules/compute/main.tf
  infrastructure/terraform/modules/compute/main.tf
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/modules/security/main.tf
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/infrastructure/terraform/modules/storage/main.tf
  infrastructure/terraform/modules/storage/main.tf
Owners: @devops-team

Add public-samples/amira-wellness-tiplb3/scripts/audit-logs.sh
  scripts/audit-logs.sh
Owners: @project-leads

Add public-samples/amira-wellness-tiplb3/scripts/cleanup-resources.sh
  scripts/cleanup-resources.sh
Owners: @project-leads

Add public-samples/amira-wellness-tiplb3/scripts/db-migration-helper.sh
  scripts/db-migration-helper.sh
Owners: @project-leads

Add public-samples/amira-wellness-tiplb3/scripts/encryption-key-rotation.py
  scripts/encryption-key-rotation.py
Owners: @project-leads

Add public-samples/amira-wellness-tiplb3/scripts/generate-test-data.py
  scripts/generate-test-data.py
Owners: @project-leads

Add public-samples/amira-wellness-tiplb3/scripts/localization-helper.py
  scripts/localization-helper.py
Owners: @project-leads

Add public-samples/amira-wellness-tiplb3/scripts/performance-testing.sh
  scripts/performance-testing.sh
Owners: @project-leads

Add public-samples/amira-wellness-tiplb3/scripts/security-scan.sh
  scripts/security-scan.sh
Owners: @project-leads

Add public-samples/amira-wellness-tiplb3/scripts/setup-dev-environment.sh
  scripts/setup-dev-environment.sh
Owners: @project-leads

Add public-samples/amira-wellness-tiplb3/scripts/version-bump.sh
  scripts/version-bump.sh
Owners: @project-leads

Add public-samples/amira-wellness-tiplb3/src/android/.gitignore
  src/android/.gitignore
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/README.md
  src/android/README.md
Owners: @documentation-team

Add public-samples/amira-wellness-tiplb3/src/android/build.gradle
  src/android/build.gradle
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/gradle.properties
  src/android/gradle.properties
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/gradlew
  src/android/gradlew
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/gradlew.bat
  src/android/gradlew.bat
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/settings.gradle
  src/android/settings.gradle
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/.gitignore
  src/android/app/.gitignore
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/build.gradle.kts
  src/android/app/build.gradle.kts
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/proguard-rules.pro
  src/android/app/proguard-rules.pro
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/src/androidTest/kotlin/com/amirawellness/ExampleInstrumentedTest.kt
  src/android/app/src/androidTest/kotlin/com/amirawellness/ExampleInstrumentedTest.kt
Owners: @android-team

Add public-samples/amira-wellness-tiplb3/src/android/app/src/androidTest/kotlin/com/amirawellness/data/local/dao/EmotionalStateDaoTest.kt
  src/android/app/src/androidTest/kotlin/com/amirawellness/data/local/dao/EmotionalStateDaoTest.kt
Owners: @android-team
